---
import { SITE_NAME } from "@/lib/site.constants";
import { siteFooter, siteFooterInner } from "./site-footer.styles";
---

<footer class={siteFooter}>
	<div class={siteFooterInner}>
		© {new Date().getFullYear()} {SITE_NAME}
	</div>
</footer>
